# Private Student Data & Locker Security (NEVER COMMIT TO GITHUB)
*locker*
*lockers*
*seating*
*lock_slips*
*locks_and_combos*
Day1_Deliverables/*locker*
Day1_Deliverables/*seating*
Day1_Deliverables/*lock_slips*

# Student Rosters, PINs & Teacher Kiosks
Student_System/students_roster.*
Student_System/student_pins*
Student_System/teacher_pin*
Private_Student_Data/
scratch/
*.bak

__pycache__/
*.pyc
